
 /*p{
      text-align: center;
         border: 3px solid red;
}*/

 /*a{
    text-decoration: none;
   display: block;*/
    /* background-color:  #4C068E;
    color:  #CCB0AF;
     padding:5px 6px 15px 15px;
     margin-top:  15px;
    width: 100px;*/
   /* border:  dotted 2px #CC854E;
    line-height: 35px;
}*/
 /*h2{
 border:  dotted 2px #CC854E;
  text-align: center;

 } */


/*.imgg{
 border:  dotted 2px #CC854E;
  float: left;
    margin-left: 250px;
    border: groove  #B5B6AF 15px;




}
.imgg:hover{



} */



/*.imgg:hover{
     background-image: url(7f8a1700.jpg);

}*/




 /*margin-left:  0px;
    margin-right:  auto;
    float: left;*/

/* .im{
 border: groove  #B5B6AF 15px;
  margin-left: -1150px;
 }
 .im:hover{
     border: #CC3437 15px groove;
 }*/

/* .ddiv{
     text-align: center;
     *border: red 3px solid;*
     width:  2500px;
     margin-left: 500px;

 } */
 /*.ii{
     background-color: #AACC88;
 }
 .ii:hover{
     background-color: #5852CC;
 } */

/*body{
      background-image:  url(ab2.gif);
       background-repeat: repeat-x;
    background-color:  #CCB0AF;
  border:  dotted 2px #CC854E;
 }

main{

    border: 3px solid blue;
    width: 1500px;
    margin-left:  auto;
    margin-right:  auto;

}

.im1{
   margin-top: -0px;
   margin-left: 150px;
}

.im2{
    margin-top: -530px;
    margin-left: 1050px;

}

div{
 border:  dotted 2px #CC854E;
  width:   500px;
  text-align: center;
  border: 3px solid red;
  margin-left: 500px;
  margin-top: -240px;
}


h1{

text-align: center;

}*/

/*  .im1{

      margin-top: -0px;
  }
   .im2{

       margin-top: -230px;
       margin-left: 1050px;
   }
    main{

        border: 3px solid blue;
        width: 1500px;
        margin-left:  auto;
         margin-right:  auto;
           }
 .book{
    -moz-column-count: 3;    Äëÿ Firefox */
     /*-webkit-column-count: 3;   Äëÿ Safari è Chrome
    column-count: 3;
   }
     p{
      text-align: center;
         border: 3px solid red;
     }
      .pim{
          margin-top: 15px;
      }

    div{
        width: 500px;
         text-align: center;
         border: 3px solid red;
         margin-left: 500px;
         margin-top: -187px;


    }  */
     h1{
         text-align:  center;
     }
      h2{
          text-align:  center;
      }


































